<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Dota2ForYou.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>testOutImage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4D2BE5AE1D4EF03F00D591E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DE4A91D1CAD28F900B6D909</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DE4A9331CAD28F900B6D909</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DE4A93E1CAD28F900B6D909</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
